body{
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ3g3SO-nC7-HfGvM45HVKP-d9KtDIjx1Cgjrtj3ZCl8DBGV9l")     */
    /* background-color: oldlace; */
}

.row {
    
}

.moveCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.movieClass {
    border: black double 4px;
    background-color: whitesmoke;
    width: 200px;
    height: auto;
     /* justify-content:space-around;  */
}


.locationCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.divWrapper {
    width: 400px;
    height: auto;
    border: 3px solid black;
    margin-bottom: 5px;
    margin-right: 5px;
}
.centerText {
    text-align: center;
}